@use '../../scss/Variables' as *;
@use '../../scss/ClassNames' as *;

.contact_us {
  .info {
    margin: 0;
    text-align: center;
    .info_card {
      background-color: $offWhite;
      padding: 0 1rem;
      border-radius: 1rem;
      .icon {
        width: 5rem;
        height: 5rem;
        background-color: $orange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto;
      }
    }
  }
  .form_btn {
    @extend %custom_btn;
    margin: 2rem auto;
    display: block;
  }
}
