@use '../../scss/ClassNames' as *;
@use '../../scss/Variables' as *;

.order_confirmed {
  text-align: center;
  margin: auto;
  figure {
    display: flex;
    justify-content: center;
  }
  .form_btn {
    @extend %custom_btn;
    display: block;
    margin: 2rem auto;
    color: $offWhite;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .receipt {
    color: $grey;
  }
}
