@use '../../scss/Variables' as *;
@use '../../scss/Mixins' as *;
@use '../../scss/ClassNames' as *;

footer {
  background-color: $offWhite;
  padding: 1rem;
  margin: 1rem 0 0;

  line-height: 1.7;

  @extend .hstack;

  a {
    text-decoration: none;
    color: black;
  }

  svg {
    padding: 0 1rem 0 0;
  }

  h2 {
    font-weight: bold;
  }
  span {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h4 {
    color: $orange;
    font-weight: bold;
  }
}
