@use './scss/Variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: 'Lato', sans-serif;
  button {
    &:focus {
      box-shadow: $orange_shadow !important;
    }
    &:active {
      box-shadow: $orange_shadow !important;
    }
  }

  user-select: none;
}

main {
  flex: 1;
  min-height: 47vh;
}
