@use './Mixins' as *;
@use './Variables' as *;

.title {
  display: flex;
  align-items: center;
  padding: 1rem 0;
  @include MediaQuery('xs') {
    justify-content: center;
  }
  @include MediaQuery('sm') {
    justify-content: center;
  }
  @include MediaQuery('md') {
    justify-content: flex-start;
  }
  .line {
    width: 10%;
    height: 1px;
    background-color: $orange;
    margin: 0 0 0 1rem;
  }
}

.title_plus {
 display: flex;
 justify-content: center;
 align-items: center;

 h3 {
   position: relative;
   text-transform: uppercase;
 }
 .line {
   width: 10%;
   height: 1px;
   background-color: $orange;
   &:first-of-type {
     margin: 0 1rem 0 0;
   }
   &:last-of-type {
     margin: 0 0 0 1rem;
   }
 }
}
.hstack {
  @include MediaQuery('xs') {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include MediaQuery('sm') {
    flex-wrap: wrap;
    justify-content: center;
  }
  @include MediaQuery('md') {
    flex-wrap: nowrap;
    justify-content: center;
  }
}
