@use '../scss/Variables' as *;
@use '../scss/Mixins' as *;

.auth {
  min-height: 100vh;
  background-color: #dededede;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  .row {
    margin: 0;
    padding: 0;
  }
  .sing_up_txt {
    text-align: center;
  }
  .lines_word {
    margin: 3rem auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    div {
      width: 100%;
      height: 1px;
      margin: auto;
      @include MediaQuery('md') {
        margin: 0 4rem;
      }
    }

    &.orange {
      color: $orange;
      > div {
        background-color: $orange;
      }
    }
    &.grey {
      color: $grey;
      > div {
        background-color: $grey;
      }
    }
  }

  .sign_in_content {
    padding: 2rem;
    margin: auto;
  }
  .login_img {
    display: none;
    @include MediaQuery('md') {
      display: flex;
    }
  }
  figure {
    height: 100%;
    &.sing_up {
      height: 20rem;
    }

    img {
      width: 100%;
      min-height: 100%;
    }
    object-fit: cover;
    overflow: hidden;
  }

  .auth_img {
    padding: 0;
    display: none;
    @include MediaQuery('md') {
      display: flex;
    }
    img {
      height: 100vh;
    }
  }
  .page_name {
    h1 {
      color: $orange;
      padding: 1rem;
      &.sing_in_txt {
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: calc(10% + 7rem);
          background-color: $orange;
          width: 20%;
          height: 0.01rem;
        }

        & + p {
          color: $grey;
        }
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    .signUp_btn {
      margin-bottom: 1rem;
      padding: 0.5rem 4rem;
      background-color: $orange;
      border-radius: 1rem;
      border: 0;
      outline: 0;
      &:active {
        background-color: $light_orange;
      }
    }
  }

  .buttons + p {
    color: $orange;
  }

  form {
    .form-control {
      border-radius: 3px;
      padding: 0.7rem;
      outline-color: $orange;
      border-color: $orange;
      &:focus {
        box-shadow: $orange_shadow;
      }
    }
    .form-check {
      input {
        outline-color: $orange;
        border-color: $orange;
        &:focus {
          box-shadow: $orange_shadow;
        }
        &:checked {
          background-color: $orange;
        }
      }
    }
    .form_btn {
      padding: 0.5rem 3rem;
      border-radius: 3rem;
      margin: 2rem 0;
      background: $orange;
      border: 0;
      outline: 0;
      &:active {
        background: $light_orange;
      }
      width: 100%;
    }
  }
}
